<!doctype html>
<html>
  <head>
    <title>Moves App Backup</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Moves App Backup</h1>
      <hr>
      <%= yield %>
      <hr>
      <small>This application uses data from Moves but is not endorsed or certified by Moves. Moves is a trademark of ProtoGeo Oy.</small>
    </div>
  </body>
</html>
